<div class="main container">
<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.data.settings.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.data.settings.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% for social in site.data.socmed.socials %}
              <a title="{{ social.type }}" href="{{ social.url }}"><button class="btn btn-default btn-lg">{{ social.icon }}{{ social.title }}</button></a>
            {% endfor %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
