{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation hicn">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
        {% elsif page == 1 %}
            <li class="page-item"><a class="page-link" href="{{ '/' | relative_url }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
    {% endif %}
  </ul>
</nav>
{% endif %}